In [3]:
import pandas as pd
import datetime as dt

In [2]:
# punto 1
loans_lenders1 = pd.read_csv('C:\\Users\\Enrico\\Documents\\UNIMIB\\Foundations of Computer Science\\Project_comp_science\\loans_lenders.csv',
                            error_bad_lines=False,
                            sep = ',',
                            low_memory = False,
                            warn_bad_lines=False)[0:140000]
loans_lenders2 = pd.read_csv('C:\\Users\\Enrico\\Documents\\UNIMIB\\Foundations of Computer Science\\Project_comp_science\\loans_lenders.csv',
                            error_bad_lines=False,
                            sep = ',',
                            low_memory = False,
                            warn_bad_lines=False)[140000:280000]
loans_lenders3 = pd.read_csv('C:\\Users\\Enrico\\Documents\\UNIMIB\\Foundations of Computer Science\\Project_comp_science\\loans_lenders.csv',
                            error_bad_lines=False,
                            sep = ',',
                            low_memory = False,
                            warn_bad_lines=False)[280000:420000]
loans_lenders4 = pd.read_csv('C:\\Users\\Enrico\\Documents\\UNIMIB\\Foundations of Computer Science\\Project_comp_science\\loans_lenders.csv',
                            error_bad_lines=False,
                            sep = ',',
                            low_memory = False,
                            warn_bad_lines=False)[420000:560000]
loans_lenders5 = pd.read_csv('C:\\Users\\Enrico\\Documents\\UNIMIB\\Foundations of Computer Science\\Project_comp_science\\loans_lenders.csv',
                            error_bad_lines=False,
                            sep = ',',
                            low_memory = False,
                            warn_bad_lines=False)[560000:700000]
loans_lenders6 = pd.read_csv('C:\\Users\\Enrico\\Documents\\UNIMIB\\Foundations of Computer Science\\Project_comp_science\\loans_lenders.csv',
                            error_bad_lines=False,
                            sep = ',',
                            low_memory = False,
                            warn_bad_lines=False)[700000:840000]
loans_lenders7 = pd.read_csv('C:\\Users\\Enrico\\Documents\\UNIMIB\\Foundations of Computer Science\\Project_comp_science\\loans_lenders.csv',
                            error_bad_lines=False,
                            sep = ',',
                            low_memory = False,
                            warn_bad_lines=False)[840000:980000]
loans_lenders8 = pd.read_csv('C:\\Users\\Enrico\\Documents\\UNIMIB\\Foundations of Computer Science\\Project_comp_science\\loans_lenders.csv',
                            error_bad_lines=False,
                            sep = ',',
                            low_memory = False,
                            warn_bad_lines=False)[980000:1120000]
loans_lenders9 = pd.read_csv('C:\\Users\\Enrico\\Documents\\UNIMIB\\Foundations of Computer Science\\Project_comp_science\\loans_lenders.csv',
                            error_bad_lines=False,
                            sep = ',',
                            low_memory = False,
                            warn_bad_lines=False)[1120000:1260000]
loans_lenders10 = pd.read_csv('C:\\Users\\Enrico\\Documents\\UNIMIB\\Foundations of Computer Science\\Project_comp_science\\loans_lenders.csv',
                              error_bad_lines=False,
                              sep = ',',
                              low_memory = False,
                              warn_bad_lines=False)[1260000:1400000]

In [3]:
lo_le1 = loans_lenders1.loc[:,'lenders'].str.split(',' , expand = True)
loans_lenders1 = loans_lenders1.join(lo_le1).drop('lenders', axis=1)
loans_lenders1 = loans_lenders1.set_index('loan_id')
loans_lenders1 = loans_lenders1.stack()
loans_lenders1 = pd.DataFrame(loans_lenders1)
loans_lenders1 = loans_lenders1.reset_index()

In [4]:
lo_le2 = loans_lenders2.loc[:,'lenders'].str.split(',' , expand = True)
loans_lenders2 = loans_lenders2.join(lo_le2).drop('lenders', axis=1)
loans_lenders2 = loans_lenders2.set_index('loan_id')
loans_lenders2 = loans_lenders2.stack()
loans_lenders2 = pd.DataFrame(loans_lenders2)
loans_lenders2 = loans_lenders2.reset_index()

In [6]:
lo_le3 = loans_lenders3.loc[:,'lenders'].str.split(',' , expand = True)
loans_lenders3 = loans_lenders3.join(lo_le3).drop('lenders', axis=1)
loans_lenders3 = loans_lenders3.set_index('loan_id')
loans_lenders3 = loans_lenders3.stack()
loans_lenders3 = pd.DataFrame(loans_lenders3)
loans_lenders3 = loans_lenders3.reset_index()

In [7]:
lo_le4 = loans_lenders4.loc[:,'lenders'].str.split(',' , expand = True)
loans_lenders4 = loans_lenders4.join(lo_le4).drop('lenders', axis=1)
loans_lenders4 = loans_lenders4.set_index('loan_id')
loans_lenders4 = loans_lenders4.stack()
loans_lenders4 = pd.DataFrame(loans_lenders4)
loans_lenders4 = loans_lenders4.reset_index()

In [8]:
lo_le5 = loans_lenders5.loc[:,'lenders'].str.split(',' , expand = True)
loans_lenders5 = loans_lenders5.join(lo_le5).drop('lenders', axis=1)
loans_lenders5 = loans_lenders5.set_index('loan_id')
loans_lenders5 = loans_lenders5.stack()
loans_lenders5 = pd.DataFrame(loans_lenders5)
loans_lenders5 = loans_lenders5.reset_index()

In [9]:
lo_le6 = loans_lenders6['lenders'].str.split(',' , expand = True)
loans_lenders6 = loans_lenders6.join(lo_le6).drop('lenders', axis=1)
loans_lenders6 = loans_lenders6.set_index('loan_id')
loans_lenders6 = loans_lenders6.stack()
loans_lenders6 = pd.DataFrame(loans_lenders6)
loans_lenders6 = loans_lenders6.reset_index()

In [10]:
lo_le7 = loans_lenders7.loc[:,'lenders'].str.split(',' , expand = True)
loans_lenders7 = loans_lenders7.join(lo_le7).drop('lenders', axis=1)
loans_lenders7 = loans_lenders7.set_index('loan_id')
loans_lenders7 = loans_lenders7.stack()
loans_lenders7 = pd.DataFrame(loans_lenders7)
loans_lenders7 = loans_lenders7.reset_index()

In [11]:
lo_le8 = loans_lenders8.loc[:,'lenders'].str.split(',' , expand = True)
loans_lenders8 = loans_lenders8.join(lo_le8).drop('lenders', axis=1)
loans_lenders8 = loans_lenders8.set_index('loan_id')
loans_lenders8 = loans_lenders8.stack()
loans_lenders8 = pd.DataFrame(loans_lenders8)
loans_lenders8 = loans_lenders8.reset_index()

In [12]:
lo_le9 = loans_lenders9.loc[:,'lenders'].str.split(',' , expand = True)
loans_lenders9 = loans_lenders9.join(lo_le9).drop('lenders', axis=1)
loans_lenders9 = loans_lenders9.set_index('loan_id')
loans_lenders9 = loans_lenders9.stack()
loans_lenders9 = pd.DataFrame(loans_lenders9)
loans_lenders9 = loans_lenders9.reset_index()

In [13]:
lo_le10 = loans_lenders10.loc[:,'lenders'].str.split(',' , expand = True)
loans_lenders10 = loans_lenders10.join(lo_le10).drop('lenders', axis=1)
loans_lenders10 = loans_lenders10.set_index('loan_id')
loans_lenders10 = loans_lenders10.stack()
loans_lenders10 = pd.DataFrame(loans_lenders10)
loans_lenders10 = loans_lenders10.reset_index()

In [14]:
loans_lenders = pd.concat([loans_lenders1,loans_lenders2,loans_lenders3,loans_lenders4,
                           loans_lenders5,loans_lenders6,loans_lenders7,loans_lenders8,
                           loans_lenders9,loans_lenders10])

In [16]:
loans_lenders
#loans_lenders.to_csv('out.csv')
#Cancellare le loans_lenders parziali

         loan_id  level_1                   0
0         483693        0              muc888
1         483693        1             sam4326
2         483693        2         camaran3922
3         483693        3         lachheb1865
4         483693        4         rebecca3499
5         483693        5       karlheinz4543
6         483693        6             jerrydb
7         483693        7           paula8951
8         483693        8                gmct
9         483693        9            amra9383
10        483693       10               r3922
11        483693       11           brian9451
12        483693       12           shree8053
13        483693       13            alan5513
14        483693       14           oisin3389
15        483693       15           helle8622
16        483693       16              bo3186
17        483693       17             ric8947
18        483693       18      daniel98469874
19        483693       19            nick9464
20        483693       20     deborah12671549
21        483693       21         matthew9831
22        483693       22            john6330
23        483693       23            john9479
24        483693       24        mattiaslaven
25        483693       25        jonathan2867
26        483693       26           jason3883
27        483693       27     highgrovechurch
28        483693       28           maria3124
29        483693       29            dino5102
...          ...      ...                 ...
2571488  1206220       24           karen8410
2571489  1206220       25    themissionbeltco
2571490  1206220       26                 nms
2571491  1206220       27           david8478
2571492  1206220       28         bernardchan
2571493  1206220       29            ruth3760
2571494  1206220       30          janchapman
2571495  1206220       31            matt4673
2571496  1206220       32             dan3261
2571497  1206220       33          alfred4950
2571498  1206220       34       elizabeth7391
2571499  1206220       35      taylor25478922
2571500  1206220       36       francisco6172
2571501  1206220       37           terry5191
2571502  1206220       38            greg1731
2571503  1206220       39         marilyn1116
2571504  1206220       40          sheila5822
2571505  1206220       41   sebastien24117895
2571506  1206220       42      martin19411599
2571507  1206220       43        florence9711
2571508  1206425        0            rich6705
2571509  1206425        1         sergiiy9766
2571510  1206425        2          angela7509
2571511  1206425        3         barbara5610
2571512  1206425        4           david9667
2571513  1206425        5   trogdorfamily7622
2571514  1206425        6           danny6470
2571515  1206425        7             don6118
2571516  1206486        0            alan5175
2571517  1206486        1         amy38101311

[28293931 rows x 3 columns]

In [4]:
## punto 2
loans = pd.read_csv('C:\\Users\\Enrico\\Documents\\UNIMIB\\Foundations of Computer Science\\Project_comp_science\\loans.csv',
                    parse_dates = True,
                    infer_datetime_format = True)
loans['disburse_time'] = pd.to_datetime(loans['disburse_time'])
#loans['disburse_time'] = loans['disburse_time'].dt.date
#loans['disburse_time'].head()
loans['planned_expiration_time'] = pd.to_datetime(loans['planned_expiration_time'])
#loans['planned_expiration_time'] = loans['planned_expiration_time'].dt.date
#loans['planned_expiration_time'].head()
loans['raised_time'] = pd.to_datetime(loans['raised_time'])
#loans['raised_time'] = loans['raised_time'].dt.date
#loans['raised_time'].head()
loans['posted_time'] = pd.to_datetime(loans['posted_time'])
#loans['posted_time'] = loans['posted_time'].dt.date
#loans['posted_time'].head()
loans['duration'] = loans['planned_expiration_time'] - loans['disburse_time']
loans['duration'] = loans['duration'].dt.days
#loans['duration'].head()

In [19]:
## punto 3
(loans_lenders.groupby(0)[0].count() >= 2).notnull()

0
 000               True
 00000             True
 0002              True
 00mike00          True
 0101craign0101    True
 0132575           True
 0154884           True
 0161130           True
 0169713           True
 0185429           True
 0197462           True
 0206338           True
 0219854           True
 0221581           True
 0239059           True
 0245597           True
 0256321           True
 0265562           True
 0279282           True
 0288537           True
 0295920           True
 0307987           True
 0312857           True
 0321212           True
 0326lsw           True
 0332772           True
 0346439           True
 0353400           True
 0367630           True
 0376099           True
                   ...
zuzana5790         True
zuzana7522         True
zuzana8241         True
zuzana8342         True
zuzana9270         True
zuzana9580         True
zuzana9848         True
zuzanna5419        True
zuzanna6834        True
zuzanna7983        True
zuzanna8834        True
zuzanna9818        True
zuzika7697         True
zvezdana4014       True
zvezdomir5847      True
zvi                True
zvi1263            True
zvika5974          True
zvonimir7460       True
zx147              True
zyra9641           True
zyrah8525          True
zyrorl             True
zzaba              True
zzaman             True
zzanita            True
zzcyna7269         True
zzinnia            True
zzmcfate           True
zzrvmf8538         True
Name: 0, Length: 1639026, dtype: bool

In [20]:
## punto 4
loans.groupby('country_name')['country_name'].count()

country_name
Afghanistan                               2337
Albania                                   3075
Armenia                                  13952
Azerbaijan                               10172
Belize                                     218
Benin                                     5946
Bhutan                                       2
Bolivia                                  25250
Bosnia and Herzegovina                     608
Botswana                                     1
Brazil                                     482
Bulgaria                                   296
Burkina Faso                              3489
Burundi                                   1727
Cambodia                                 79701
Cameroon                                  5085
Canada                                       1
Chad                                        61
Chile                                      892
China                                      134
Colombia                                 33675
Congo                                      952
Costa Rica                                4681
Cote D'Ivoire                              283
Dominican Republic                        4654
Ecuador                                  33471
Egypt                                     2460
El Salvador                              64037
Gaza                                         8
Georgia                                   6483
                                         ...
Philippines                             285336
Puerto Rico                                 80
Rwanda                                   16774
Saint Vincent and the Grenadines            16
Samoa                                    16435
Senegal                                  12107
Sierra Leone                             15576
Solomon Islands                            903
Somalia                                    227
South Africa                               633
South Sudan                               5820
Sri Lanka                                  264
Suriname                                   292
Tajikistan                               43942
Tanzania                                 16110
Thailand                                   247
The Democratic Republic of the Congo      5074
Timor-Leste                               3816
Togo                                     17106
Turkey                                    2008
Uganda                                   45882
Ukraine                                   4994
United States                             9180
Uruguay                                      1
Vanuatu                                      4
Vietnam                                  21839
Virgin Islands                               2
Yemen                                     4206
Zambia                                    1277
Zimbabwe                                  5513
Name: country_name, Length: 96, dtype: int64

In [21]:
## punto 5
loans.groupby('country_name')['loan_amount'].sum()

country_name
Afghanistan                              1967950.0
Albania                                  4307350.0
Armenia                                 22950475.0
Azerbaijan                              14784625.0
Belize                                    150175.0
Benin                                    3865825.0
Bhutan                                     20000.0
Bolivia                                 44226725.0
Bosnia and Herzegovina                    477250.0
Botswana                                    8000.0
Brazil                                   1192325.0
Bulgaria                                  375300.0
Burkina Faso                             4085200.0
Burundi                                  5233450.0
Cambodia                                51613525.0
Cameroon                                 2250800.0
Canada                                     50000.0
Chad                                       20075.0
Chile                                    2595925.0
China                                     380525.0
Colombia                                23613975.0
Congo                                    2265350.0
Costa Rica                               5644350.0
Cote D'Ivoire                             345300.0
Dominican Republic                       9308000.0
Ecuador                                 35519000.0
Egypt                                    1415025.0
El Salvador                             41691550.0
Gaza                                        5000.0
Georgia                                  9570425.0
                                           ...
Philippines                             97984600.0
Puerto Rico                               441900.0
Rwanda                                  29157325.0
Saint Vincent and the Grenadines           49225.0
Samoa                                   12212175.0
Senegal                                 17952175.0
Sierra Leone                            11967500.0
Solomon Islands                           815575.0
Somalia                                   308725.0
South Africa                             1006525.0
South Sudan                              2418300.0
Sri Lanka                                  74800.0
Suriname                                  748925.0
Tajikistan                              39622125.0
Tanzania                                18720300.0
Thailand                                  608925.0
The Democratic Republic of the Congo    18813425.0
Timor-Leste                              3482400.0
Togo                                    10022825.0
Turkey                                    903925.0
Uganda                                  38386500.0
Ukraine                                  7091800.0
United States                           46352000.0
Uruguay                                     8000.0
Vanuatu                                     9250.0
Vietnam                                 24681100.0
Virgin Islands                             10000.0
Yemen                                    3444000.0
Zambia                                   1978975.0
Zimbabwe                                 5851875.0
Name: loan_amount, Length: 96, dtype: float64

In [22]:
## punto 6
loans.groupby('country_name')['loan_amount'].sum()*100/loans.groupby('loan_amount')['loan_amount'].sum().sum()

country_name
Afghanistan                             0.166573
Albania                                 0.364586
Armenia                                 1.942589
Azerbaijan                              1.251410
Belize                                  0.012711
Benin                                   0.327214
Bhutan                                  0.001693
Bolivia                                 3.743468
Bosnia and Herzegovina                  0.040396
Botswana                                0.000677
Brazil                                  0.100922
Bulgaria                                0.031766
Burkina Faso                            0.345782
Burundi                                 0.442973
Cambodia                                4.368706
Cameroon                                0.190514
Canada                                  0.004232
Chad                                    0.001699
Chile                                   0.219726
China                                   0.032209
Colombia                                1.998750
Congo                                   0.191745
Costa Rica                              0.477753
Cote D'Ivoire                           0.029227
Dominican Republic                      0.787854
Ecuador                                 3.006423
Egypt                                   0.119771
El Salvador                             3.528884
Gaza                                    0.000423
Georgia                                 0.810066
                                          ...
Philippines                             8.293678
Puerto Rico                             0.037404
Rwanda                                  2.467954
Saint Vincent and the Grenadines        0.004167
Samoa                                   1.033671
Senegal                                 1.519520
Sierra Leone                            1.012961
Solomon Islands                         0.069032
Somalia                                 0.026131
South Africa                            0.085195
South Sudan                             0.204691
Sri Lanka                               0.006331
Suriname                                0.063391
Tajikistan                              3.353722
Tanzania                                1.584536
Thailand                                0.051541
The Democratic Republic of the Congo    1.592418
Timor-Leste                             0.294760
Togo                                    0.848359
Turkey                                  0.076511
Uganda                                  3.249136
Ukraine                                 0.600269
United States                           3.923357
Uruguay                                 0.000677
Vanuatu                                 0.000783
Vietnam                                 2.089074
Virgin Islands                          0.000846
Yemen                                   0.291509
Zambia                                  0.167506
Zimbabwe                                0.495318
Name: loan_amount, Length: 96, dtype: float64

In [27]:
## punto 7, riferimento punto 4
loans[(loans['disburse_time'] >= '2005-01-01') & (loans['disburse_time'] <= '2005-12-31')].groupby('country_name')['country_name'].count()

country_name
Bulgaria      3
Cambodia      2
Ecuador      10
Gaza          8
Honduras     72
Kenya        40
Nicaragua     6
Senegal       3
Tanzania      5
Uganda       54
Name: country_name, dtype: int64

In [28]:
loans[(loans['disburse_time'] >= '2006-01-01') & (loans['disburse_time'] <= '2006-12-31')].groupby('country_name')['country_name'].count()

country_name
Azerbaijan     17
Bulgaria       67
Cambodia       58
Ecuador       248
Ghana          27
Honduras      272
Kenya         421
Mexico        284
Moldova        31
Mozambique     16
Nicaragua       5
Nigeria        99
Samoa          12
Senegal        52
Tanzania       69
Togo           91
Uganda        363
Name: country_name, dtype: int64

In [29]:
loans[(loans['disburse_time'] >= '2007-01-01') & (loans['disburse_time'] <= '2007-12-31')].groupby('country_name')['country_name'].count()

country_name
Afghanistan                              408
Azerbaijan                              2126
Bolivia                                  565
Bulgaria                                 190
Cambodia                                1615
Cameroon                                 214
Chad                                      61
Cote D'Ivoire                            192
Dominican Republic                       476
Ecuador                                 1299
Ghana                                    646
Guatemala                                173
Haiti                                     26
Honduras                                 663
Indonesia                                723
Iraq                                     111
Kenya                                   2224
Lebanon                                  168
Mexico                                  2444
Moldova                                   57
Mozambique                               361
Nepal                                     79
Nicaragua                                276
Nigeria                                 1223
Pakistan                                 333
Paraguay                                 697
Peru                                    1205
Samoa                                   1258
Senegal                                   61
Sierra Leone                             378
Tajikistan                               957
Tanzania                                 487
The Democratic Republic of the Congo      40
Togo                                    1103
Uganda                                   311
Ukraine                                  526
Vietnam                                  599
Name: country_name, dtype: int64

In [30]:
loans[(loans['disburse_time'] >= '2008-01-01') & (loans['disburse_time'] <= '2008-12-31')].groupby('country_name')['country_name'].count()

country_name
Afghanistan                              367
Azerbaijan                              1408
Benin                                    490
Bolivia                                 1481
Bosnia and Herzegovina                   537
Bulgaria                                  33
Cambodia                                6997
Cameroon                                 205
Cote D'Ivoire                             35
Dominican Republic                      1213
Ecuador                                  355
El Salvador                               84
Ghana                                   2389
Guatemala                                270
Haiti                                      8
Honduras                                 124
Indonesia                               1004
Iraq                                      53
Kenya                                    451
Lebanon                                  818
Mali                                     404
Mexico                                  1881
Moldova                                   22
Mongolia                                   2
Mozambique                               361
Nepal                                    298
Nicaragua                               3365
Nigeria                                 1841
Pakistan                                1410
Palestine                                  7
Paraguay                                1373
Peru                                    8578
Philippines                              398
Rwanda                                   104
Samoa                                   1130
Senegal                                  883
Sierra Leone                             587
South Sudan                              161
Tajikistan                              3415
Tanzania                                4217
The Democratic Republic of the Congo      14
Togo                                    1755
Uganda                                  1741
Ukraine                                  669
Vietnam                                 1603
Name: country_name, dtype: int64

In [31]:
loans[(loans['disburse_time'] >= '2009-01-01') & (loans['disburse_time'] <= '2009-12-31')].groupby('country_name')['country_name'].count()

country_name
Afghanistan                               678
Armenia                                    51
Azerbaijan                                929
Benin                                     983
Bolivia                                  2586
Bosnia and Herzegovina                     71
Cambodia                                 6622
Cameroon                                  192
Chile                                       7
Colombia                                   19
Costa Rica                                229
Dominican Republic                        597
Ecuador                                   467
El Salvador                              1291
Ghana                                    5204
Guatemala                                 461
Haiti                                      27
Honduras                                  616
Indonesia                                 206
Iraq                                       29
Kenya                                    1828
Kyrgyzstan                                134
Lebanon                                  1710
Liberia                                   412
Mali                                      984
Mexico                                   1122
Moldova                                   184
Mongolia                                 1243
Mozambique                                437
Nepal                                     293
Nicaragua                                4729
Nigeria                                  4150
Pakistan                                  820
Palestine                                 311
Paraguay                                 1079
Peru                                    10450
Philippines                             13574
Rwanda                                    458
Samoa                                    1186
Senegal                                  1440
Sierra Leone                              648
South Sudan                              1215
Tajikistan                               4269
Tanzania                                 2282
The Democratic Republic of the Congo      152
Togo                                     2596
Uganda                                   2117
Ukraine                                   540
United States                             118
Vietnam                                  1256
Name: country_name, dtype: int64

In [32]:
loans[(loans['disburse_time'] >= '2010-01-01') & (loans['disburse_time'] <= '2010-12-31')].groupby('country_name')['country_name'].count()

country_name
Afghanistan                               632
Armenia                                   347
Azerbaijan                                760
Benin                                    1016
Bolivia                                  2570
Burundi                                    53
Cambodia                                 7146
Cameroon                                   99
Chile                                     137
Colombia                                  653
Congo                                     168
Costa Rica                                631
Dominican Republic                        684
Ecuador                                  3739
El Salvador                              1635
Ghana                                    1709
Guatemala                                 605
Haiti                                      16
Honduras                                  810
Indonesia                                  89
Iraq                                      144
Israel                                     13
Jordan                                     25
Kenya                                    6775
Kyrgyzstan                               1063
Lebanon                                  1637
Liberia                                  1327
Mali                                     1204
Mexico                                   1433
Mongolia                                 1810
Mozambique                                377
Nepal                                     232
Nicaragua                                6298
Nigeria                                  1283
Pakistan                                 1429
Palestine                                 427
Paraguay                                 1479
Peru                                    10047
Philippines                             17702
Rwanda                                   1417
Samoa                                     538
Senegal                                  1467
Sierra Leone                             1221
South Africa                               11
South Sudan                              1400
Sri Lanka                                 264
Tajikistan                               1469
Tanzania                                  687
The Democratic Republic of the Congo      190
Togo                                     1673
Uganda                                   3577
Ukraine                                   555
United States                             139
Vietnam                                   593
Name: country_name, dtype: int64

In [33]:
loans[(loans['disburse_time'] >= '2011-01-01') & (loans['disburse_time'] <= '2011-12-31')].groupby('country_name')['country_name'].count()

country_name
Afghanistan                               247
Armenia                                   856
Azerbaijan                                961
Benin                                    1006
Bolivia                                  2534
Burkina Faso                              137
Burundi                                   191
Cambodia                                 5736
Cameroon                                   96
Chile                                     314
Colombia                                 2151
Congo                                     324
Costa Rica                                673
Dominican Republic                        424
Ecuador                                  4333
El Salvador                              3609
Georgia                                   530
Ghana                                    1691
Guatemala                                 906
Haiti                                      43
Honduras                                 1061
Indonesia                                 521
Iraq                                      659
Israel                                     77
Jordan                                    780
Kenya                                   13212
Kyrgyzstan                               1377
Lebanon                                  1939
Liberia                                   636
Mali                                      941
Mexico                                   2920
Mongolia                                 2028
Mozambique                                407
Nepal                                     195
Nicaragua                                5496
Pakistan                                 1469
Palestine                                 931
Paraguay                                 1886
Peru                                    12559
Philippines                             19815
Rwanda                                   2492
Samoa                                     564
Senegal                                  1370
Sierra Leone                             1559
South Africa                               97
South Sudan                              1399
Tajikistan                               2530
Tanzania                                  462
The Democratic Republic of the Congo      271
Togo                                     1037
Turkey                                     30
Uganda                                   4511
Ukraine                                   514
United States                             221
Vietnam                                  1334
Yemen                                      12
Zimbabwe                                  436
Name: country_name, dtype: int64

In [34]:
loans[(loans['disburse_time'] >= '2012-01-01') & (loans['disburse_time'] <= '2012-12-31')].groupby('country_name')['country_name'].count()

country_name
Albania                                   332
Armenia                                   976
Azerbaijan                                969
Benin                                    1507
Bolivia                                  2558
Burkina Faso                              254
Burundi                                   230
Cambodia                                 6174
Cameroon                                  664
Chile                                     324
Colombia                                 3154
Congo                                     199
Costa Rica                                703
Dominican Republic                        335
Ecuador                                  4493
El Salvador                              5504
Georgia                                  1403
Ghana                                    2079
Guam                                        1
Guatemala                                 995
Haiti                                     119
Honduras                                 1860
India                                     323
Indonesia                                 771
Iraq                                      792
Israel                                     96
Jordan                                   3079
Kenya                                   15390
Kosovo                                    262
Kyrgyzstan                               1017
                                        ...
Mongolia                                 1988
Mozambique                                651
Nepal                                     131
Nicaragua                                4473
Nigeria                                     1
Pakistan                                 2189
Palestine                                1097
Paraguay                                 2198
Peru                                    11187
Philippines                             24069
Rwanda                                   2654
Samoa                                    1457
Senegal                                  1511
Sierra Leone                             1722
South Africa                               70
South Sudan                              1209
Tajikistan                               3929
Tanzania                                  458
Thailand                                    2
The Democratic Republic of the Congo      459
Timor-Leste                               140
Togo                                     1142
Turkey                                     14
Uganda                                   4778
Ukraine                                   640
United States                             397
Vietnam                                  1550
Yemen                                     850
Zambia                                     58
Zimbabwe                                   86
Name: country_name, Length: 64, dtype: int64

In [35]:
loans[(loans['disburse_time'] >= '2013-01-01') & (loans['disburse_time'] <= '2013-12-31')].groupby('country_name')['country_name'].count()

country_name
Albania                                   507
Armenia                                  2276
Azerbaijan                               1058
Belize                                     78
Benin                                     447
Bolivia                                  3017
Botswana                                    1
Brazil                                     11
Burkina Faso                              290
Burundi                                   410
Cambodia                                 4751
Cameroon                                  715
Chile                                     100
Colombia                                 3110
Congo                                     133
Costa Rica                                706
Cote D'Ivoire                              47
Dominican Republic                        305
Ecuador                                  2711
El Salvador                              7739
Georgia                                  1968
Ghana                                    2980
Guam                                        1
Guatemala                                1185
Haiti                                     156
Honduras                                 2499
India                                     899
Indonesia                                 781
Iraq                                      805
Israel                                     69
                                        ...
Nigeria                                   144
Pakistan                                 6000
Palestine                                1316
Panama                                      2
Papua New Guinea                            1
Paraguay                                 2322
Peru                                     7286
Philippines                             24496
Rwanda                                   2070
Samoa                                    1567
Senegal                                  1454
Sierra Leone                             3223
Somalia                                   105
South Africa                               76
South Sudan                               275
Suriname                                   69
Tajikistan                               4070
Tanzania                                  659
Thailand                                   33
The Democratic Republic of the Congo      342
Timor-Leste                               707
Togo                                      716
Turkey                                     28
Uganda                                   4807
Ukraine                                   472
United States                            1031
Vietnam                                  1875
Yemen                                     998
Zambia                                    150
Zimbabwe                                  425
Name: country_name, Length: 74, dtype: int64

In [36]:
loans[(loans['disburse_time'] >= '2014-01-01') & (loans['disburse_time'] <= '2014-12-31')].groupby('country_name')['country_name'].count()

country_name
Albania                                   603
Armenia                                  1968
Azerbaijan                                986
Belize                                    109
Benin                                     496
Bolivia                                  2613
Brazil                                     50
Burkina Faso                              407
Burundi                                   370
Cambodia                                 6245
Cameroon                                  241
Chile                                       4
China                                      10
Colombia                                 5335
Congo                                      97
Costa Rica                                454
Dominican Republic                        153
Ecuador                                  2951
Egypt                                      46
El Salvador                             13028
Georgia                                   624
Ghana                                     850
Guatemala                                1607
Haiti                                     533
Honduras                                 2455
India                                    2740
Indonesia                                1368
Iraq                                      962
Israel                                     63
Jordan                                   1341
                                        ...
Palestine                                1501
Panama                                      5
Paraguay                                 2742
Peru                                     7547
Philippines                             37776
Rwanda                                   1867
Saint Vincent and the Grenadines            2
Samoa                                    1927
Senegal                                  1225
Sierra Leone                             2057
Solomon Islands                             4
Somalia                                    76
South Africa                               52
South Sudan                                48
Suriname                                  106
Tajikistan                               4353
Tanzania                                 1290
Thailand                                   24
The Democratic Republic of the Congo      761
Timor-Leste                               761
Togo                                      857
Turkey                                    239
Uganda                                   7421
Ukraine                                   366
United States                            1087
Vanuatu                                     4
Vietnam                                  2890
Yemen                                    1630
Zambia                                    198
Zimbabwe                                 2078
Name: country_name, Length: 78, dtype: int64

In [37]:
loans[(loans['disburse_time'] >= '2015-01-01') & (loans['disburse_time'] <= '2015-12-31')].groupby('country_name')['country_name'].count()

country_name
Afghanistan                                 1
Albania                                   638
Armenia                                  2534
Azerbaijan                                659
Bolivia                                  2956
Brazil                                     38
Burkina Faso                              653
Burundi                                   279
Cambodia                                 7532
Cameroon                                   96
Chile                                       2
China                                      63
Colombia                                 6728
Congo                                      31
Costa Rica                                551
Dominican Republic                        136
Ecuador                                  2774
Egypt                                     432
El Salvador                             11939
Georgia                                  1022
Ghana                                    1345
Guatemala                                2400
Haiti                                     742
Honduras                                 1447
India                                    2721
Indonesia                                1624
Iraq                                       14
Israel                                     49
Jordan                                   1082
Kenya                                   23507
                                        ...
Palestine                                2052
Panama                                    139
Paraguay                                 3341
Peru                                     5643
Philippines                             46019
Puerto Rico                                12
Rwanda                                   1961
Saint Vincent and the Grenadines           14
Samoa                                    1754
Senegal                                   823
Sierra Leone                              489
Solomon Islands                           116
Somalia                                    36
South Africa                              192
South Sudan                               111
Suriname                                   95
Tajikistan                               4531
Tanzania                                 1666
Thailand                                   20
The Democratic Republic of the Congo      821
Timor-Leste                              1055
Togo                                     2088
Turkey                                    531
Uganda                                   6152
Ukraine                                   228
United States                            1205
Vietnam                                  2927
Yemen                                     254
Zambia                                    213
Zimbabwe                                  600
Name: country_name, Length: 79, dtype: int64

In [38]:
loans[(loans['disburse_time'] >= '2016-01-01') & (loans['disburse_time'] <= '2016-12-31')].groupby('country_name')['country_name'].count()

country_name
Afghanistan                                 1
Albania                                   475
Armenia                                  2902
Azerbaijan                                288
Belize                                     23
Bolivia                                  2483
Brazil                                    110
Burkina Faso                              876
Burundi                                   167
Cambodia                                11593
Cameroon                                  797
China                                      51
Colombia                                 7138
Costa Rica                                334
Dominican Republic                        134
Ecuador                                  5086
Egypt                                     640
El Salvador                              9282
Georgia                                   550
Ghana                                    1433
Guatemala                                2218
Haiti                                    1499
Honduras                                 1706
India                                    3515
Indonesia                                2438
Israel                                     43
Jordan                                   1065
Kenya                                   20487
Kosovo                                    402
Kyrgyzstan                               1381
                                        ...
Nigeria                                  3068
Pakistan                                 9056
Palestine                                3077
Panama                                     48
Paraguay                                 3840
Peru                                     6123
Philippines                             48261
Puerto Rico                                29
Rwanda                                   2137
Samoa                                    2494
Senegal                                   543
Sierra Leone                             1374
Solomon Islands                           117
Somalia                                     8
South Africa                              113
Suriname                                   22
Tajikistan                               6418
Tanzania                                 1772
Thailand                                   94
The Democratic Republic of the Congo      879
Timor-Leste                               602
Togo                                     1841
Turkey                                    663
Uganda                                   4537
Ukraine                                   236
United States                            1102
Vietnam                                  3138
Yemen                                     179
Zambia                                    217
Zimbabwe                                  808
Name: country_name, Length: 74, dtype: int64

In [39]:
loans[(loans['disburse_time'] >= '2017-01-01') & (loans['disburse_time'] <= '2017-12-31')].groupby('country_name')['country_name'].count()

country_name
Albania                                   520
Armenia                                  2042
Benin                                       1
Bhutan                                      2
Bolivia                                  1862
Brazil                                    272
Burkina Faso                              872
Burundi                                    25
Cambodia                                15160
Cameroon                                 1738
Canada                                      1
China                                       9
Colombia                                 5377
Costa Rica                                397
Cote D'Ivoire                               1
Dominican Republic                        184
Ecuador                                  4991
Egypt                                    1342
El Salvador                              9870
Georgia                                   358
Ghana                                    1646
Guatemala                                2029
Haiti                                    1570
Honduras                                 1533
India                                    4855
Indonesia                                1146
Israel                                     49
Jordan                                   1431
Kenya                                   23811
Kosovo                                    386
                                        ...
Nigeria                                  2437
Pakistan                                10054
Palestine                                2660
Panama                                      1
Paraguay                                 3827
Peru                                     5309
Philippines                             53195
Puerto Rico                                19
Rwanda                                   1570
Samoa                                    2535
Senegal                                  1255
Sierra Leone                             2299
Solomon Islands                           666
Somalia                                     2
South Africa                               22
South Sudan                                 2
Tajikistan                               7960
Tanzania                                 1980
Thailand                                   61
The Democratic Republic of the Congo     1144
Timor-Leste                               551
Togo                                     2198
Turkey                                    502
Uganda                                   5499
Ukraine                                   244
United States                            1466
Vietnam                                  4016
Yemen                                     238
Zambia                                    426
Zimbabwe                                 1079
Name: country_name, Length: 74, dtype: int64

In [40]:
loans[(loans['disburse_time'] >= '2018-01-01') & (loans['disburse_time'] <= '2018-12-31')].groupby('country_name')['country_name'].count()

country_name
Belize                                8
Bolivia                              11
Brazil                                1
Cameroon                             27
Colombia                             10
Costa Rica                            1
Dominican Republic                    2
Ghana                                67
Guatemala                             1
Haiti                                17
India                                 1
Indonesia                             3
Kenya                               587
Kyrgyzstan                            1
Lao People's Democratic Republic     19
Malawi                                2
Mali                                  1
Mexico                                5
Moldova                               5
Mozambique                           26
Nicaragua                             7
Nigeria                              10
Pakistan                              6
Panama                                1
Paraguay                              2
Peru                                 10
Philippines                           6
Rwanda                               23
Senegal                              10
Sierra Leone                         19
Tanzania                             45
Thailand                             13
Uganda                                2
Uruguay                               1
Zambia                               14
Name: country_name, dtype: int64

In [41]:
# punto 7, riferimento punto 5
loans[(loans['disburse_time'] >= '2005-01-01') & (loans['disburse_time'] <= '2005-12-31')].groupby('country_name')['loan_amount'].sum()

country_name
Bulgaria      1850.0
Cambodia      1625.0
Ecuador       5000.0
Gaza          5000.0
Honduras     33300.0
Kenya        21350.0
Nicaragua     3300.0
Senegal       3225.0
Tanzania      2300.0
Uganda       25900.0
Name: loan_amount, dtype: float64

In [42]:
loans[(loans['disburse_time'] >= '2006-01-01') & (loans['disburse_time'] <= '2006-12-31')].groupby('country_name')['loan_amount'].sum()

country_name
Azerbaijan     11700.0
Bulgaria       79950.0
Cambodia       41950.0
Ecuador       149325.0
Ghana          22325.0
Honduras       94325.0
Kenya         211775.0
Mexico        189750.0
Moldova        20925.0
Mozambique     15950.0
Nicaragua       3850.0
Nigeria        45750.0
Samoa           6800.0
Senegal        49675.0
Tanzania       45200.0
Togo           74150.0
Uganda        275975.0
Name: loan_amount, dtype: float64

In [43]:
loans[(loans['disburse_time'] >= '2007-01-01') & (loans['disburse_time'] <= '2007-12-31')].groupby('country_name')['loan_amount'].sum()

country_name
Afghanistan                              194975.0
Azerbaijan                              1886525.0
Bolivia                                  304700.0
Bulgaria                                 263050.0
Cambodia                                1111875.0
Cameroon                                 116650.0
Chad                                      20075.0
Cote D'Ivoire                            182375.0
Dominican Republic                       242775.0
Ecuador                                  944575.0
Ghana                                    548725.0
Guatemala                                121825.0
Haiti                                     26250.0
Honduras                                 233750.0
Indonesia                                125550.0
Iraq                                     127200.0
Kenya                                   1211500.0
Lebanon                                  147400.0
Mexico                                  1577725.0
Moldova                                   68775.0
Mozambique                               179100.0
Nepal                                     18225.0
Nicaragua                                166500.0
Nigeria                                  654925.0
Pakistan                                 104475.0
Paraguay                                 362925.0
Peru                                     549475.0
Samoa                                    926900.0
Senegal                                   66825.0
Sierra Leone                             118425.0
Tajikistan                               750425.0
Tanzania                                 311650.0
The Democratic Republic of the Congo      30600.0
Togo                                     879925.0
Uganda                                   182625.0
Ukraine                                  469200.0
Vietnam                                  144600.0
Name: loan_amount, dtype: float64

In [44]:
loans[(loans['disburse_time'] >= '2008-01-01') & (loans['disburse_time'] <= '2008-12-31')].groupby('country_name')['loan_amount'].sum()

country_name
Afghanistan                              362400.0
Azerbaijan                              1395475.0
Benin                                    222025.0
Bolivia                                 1847275.0
Bosnia and Herzegovina                   404450.0
Bulgaria                                  25750.0
Cambodia                                4821475.0
Cameroon                                 120450.0
Cote D'Ivoire                             35600.0
Dominican Republic                      1074800.0
Ecuador                                  301150.0
El Salvador                               54275.0
Ghana                                   1302125.0
Guatemala                                509900.0
Haiti                                     15825.0
Honduras                                 106325.0
Indonesia                                271725.0
Iraq                                      63000.0
Kenya                                    421475.0
Lebanon                                  781150.0
Mali                                     328525.0
Mexico                                  1106050.0
Moldova                                   21575.0
Mongolia                                   1250.0
Mozambique                               216750.0
Nepal                                     73400.0
Nicaragua                               1802000.0
Nigeria                                 1272575.0
Pakistan                                1279775.0
Palestine                                  8200.0
Paraguay                                1524150.0
Peru                                    4585125.0
Philippines                               91525.0
Rwanda                                    84650.0
Samoa                                    717450.0
Senegal                                  675375.0
Sierra Leone                             486100.0
South Sudan                              149050.0
Tajikistan                              2521175.0
Tanzania                                2355900.0
The Democratic Republic of the Congo      46750.0
Togo                                    1470125.0
Uganda                                  2783500.0
Ukraine                                  503950.0
Vietnam                                 1146050.0
Name: loan_amount, dtype: float64

In [45]:
loans[(loans['disburse_time'] >= '2009-01-01') & (loans['disburse_time'] <= '2009-12-31')].groupby('country_name')['loan_amount'].sum()

country_name
Afghanistan                              585125.0
Armenia                                   91000.0
Azerbaijan                              1598625.0
Benin                                    343325.0
Bolivia                                 4331425.0
Bosnia and Herzegovina                    72800.0
Cambodia                                4991050.0
Cameroon                                  89700.0
Chile                                     18000.0
Colombia                                  14300.0
Costa Rica                               211050.0
Dominican Republic                      1054200.0
Ecuador                                  425025.0
El Salvador                             1053275.0
Ghana                                   3179650.0
Guatemala                                386225.0
Haiti                                     80700.0
Honduras                                 398825.0
Indonesia                                179600.0
Iraq                                      73700.0
Kenya                                    847800.0
Kyrgyzstan                               174525.0
Lebanon                                 2078425.0
Liberia                                  182400.0
Mali                                     865050.0
Mexico                                   718475.0
Moldova                                  340975.0
Mongolia                                1363050.0
Mozambique                               243275.0
Nepal                                     75000.0
Nicaragua                               2588550.0
Nigeria                                 2435575.0
Pakistan                                 729275.0
Palestine                                636925.0
Paraguay                                1254675.0
Peru                                    6269100.0
Philippines                             3340700.0
Rwanda                                   410850.0
Samoa                                    611225.0
Senegal                                  960225.0
Sierra Leone                             584550.0
South Sudan                              447200.0
Tajikistan                              3450300.0
Tanzania                                1410475.0
The Democratic Republic of the Congo     536825.0
Togo                                    2063700.0
Uganda                                  3436800.0
Ukraine                                  639775.0
United States                            645400.0
Vietnam                                 1130975.0
Name: loan_amount, dtype: float64

In [46]:
loans[(loans['disburse_time'] >= '2010-01-01') & (loans['disburse_time'] <= '2010-12-31')].groupby('country_name')['loan_amount'].sum()

country_name
Afghanistan                              563350.0
Armenia                                  731875.0
Azerbaijan                              1408775.0
Benin                                    339550.0
Bolivia                                 3104875.0
Burundi                                  191975.0
Cambodia                                5836975.0
Cameroon                                  52025.0
Chile                                    281550.0
Colombia                                 540675.0
Congo                                     92075.0
Costa Rica                               609275.0
Dominican Republic                      1443200.0
Ecuador                                 3309975.0
El Salvador                             1087775.0
Ghana                                    846125.0
Guatemala                                644150.0
Haiti                                     38000.0
Honduras                                 527625.0
Indonesia                                157700.0
Iraq                                     342300.0
Israel                                    34350.0
Jordan                                    38350.0
Kenya                                   3324575.0
Kyrgyzstan                              1307150.0
Lebanon                                 2138925.0
Liberia                                  738375.0
Mali                                     962100.0
Mexico                                  2038575.0
Mongolia                                2285300.0
Mozambique                               184550.0
Nepal                                     66500.0
Nicaragua                               3467375.0
Nigeria                                  758975.0
Pakistan                                1226800.0
Palestine                                781575.0
Paraguay                                2185575.0
Peru                                    7107125.0
Philippines                             6096750.0
Rwanda                                  1375400.0
Samoa                                    310600.0
Senegal                                 1311200.0
Sierra Leone                            1009100.0
South Africa                              10300.0
South Sudan                              435925.0
Sri Lanka                                 74800.0
Tajikistan                              1996475.0
Tanzania                                 910400.0
The Democratic Republic of the Congo     689025.0
Togo                                    1237800.0
Uganda                                  4149375.0
Ukraine                                  767050.0
United States                            773725.0
Vietnam                                  612350.0
Name: loan_amount, dtype: float64

In [47]:
loans[(loans['disburse_time'] >= '2011-01-01') & (loans['disburse_time'] <= '2011-12-31')].groupby('country_name')['loan_amount'].sum()

country_name
Afghanistan                              245125.0
Armenia                                 1820075.0
Azerbaijan                              1753900.0
Benin                                    829700.0
Bolivia                                 2797775.0
Burkina Faso                              97100.0
Burundi                                  657025.0
Cambodia                                4350525.0
Cameroon                                  51975.0
Chile                                    611950.0
Colombia                                1462550.0
Congo                                    229625.0
Costa Rica                               614975.0
Dominican Republic                      1121875.0
Ecuador                                 4024450.0
El Salvador                             2131900.0
Georgia                                  524725.0
Ghana                                    742125.0
Guatemala                                936175.0
Haiti                                     96575.0
Honduras                                 717275.0
Indonesia                                557500.0
Iraq                                    1549175.0
Israel                                   208350.0
Jordan                                   952100.0
Kenya                                   5791950.0
Kyrgyzstan                              1754500.0
Lebanon                                 2838775.0
Liberia                                  223550.0
Mali                                     826225.0
Mexico                                  3320150.0
Mongolia                                2917150.0
Mozambique                               253525.0
Nepal                                     61950.0
Nicaragua                               3295725.0
Pakistan                                1570775.0
Palestine                               1697150.0
Paraguay                                3424550.0
Peru                                    8425775.0
Philippines                             6777725.0
Rwanda                                  2335450.0
Samoa                                    341300.0
Senegal                                 1941975.0
Sierra Leone                            1478000.0
South Africa                             110075.0
South Sudan                              447075.0
Tajikistan                              3384750.0
Tanzania                                1573025.0
The Democratic Republic of the Congo    1088175.0
Togo                                     746650.0
Turkey                                    36800.0
Uganda                                  3705025.0
Ukraine                                  958425.0
United States                           1215500.0
Vietnam                                 1101175.0
Yemen                                      8250.0
Zimbabwe                                 926150.0
Name: loan_amount, dtype: float64

In [48]:
loans[(loans['disburse_time'] >= '2012-01-01') & (loans['disburse_time'] <= '2012-12-31')].groupby('country_name')['loan_amount'].sum()

country_name
Albania                                  413000.0
Armenia                                 2049625.0
Azerbaijan                              1691225.0
Benin                                   1245700.0
Bolivia                                 3851200.0
Burkina Faso                             278225.0
Burundi                                  736250.0
Cambodia                                4410125.0
Cameroon                                 266575.0
Chile                                   1153975.0
Colombia                                2667500.0
Congo                                    582475.0
Costa Rica                               908700.0
Dominican Republic                       881825.0
Ecuador                                 5364900.0
El Salvador                             3262500.0
Georgia                                 1669600.0
Ghana                                    995725.0
Guam                                       5000.0
Guatemala                               1146075.0
Haiti                                    384025.0
Honduras                                1420350.0
India                                    419800.0
Indonesia                                867025.0
Iraq                                    2081900.0
Israel                                   339625.0
Jordan                                  3040775.0
Kenya                                   6757975.0
Kosovo                                   385525.0
Kyrgyzstan                              1660200.0
                                          ...
Mongolia                                3646975.0
Mozambique                               400425.0
Nepal                                     42050.0
Nicaragua                               3252500.0
Nigeria                                   22975.0
Pakistan                                1954200.0
Palestine                               1969350.0
Paraguay                                4993450.0
Peru                                    9828125.0
Philippines                             8881125.0
Rwanda                                  2727725.0
Samoa                                    876725.0
Senegal                                 2115475.0
Sierra Leone                            1650650.0
South Africa                              89725.0
South Sudan                              517375.0
Tajikistan                              4852575.0
Tanzania                                1895675.0
Thailand                                   1050.0
The Democratic Republic of the Congo    1966250.0
Timor-Leste                              127100.0
Togo                                     956975.0
Turkey                                    18800.0
Uganda                                  3139950.0
Ukraine                                  971350.0
United States                           2216600.0
Vietnam                                 1253775.0
Yemen                                    714825.0
Zambia                                   208425.0
Zimbabwe                                 185800.0
Name: loan_amount, Length: 64, dtype: float64

In [50]:
loans[(loans['disburse_time'] >= '2013-01-01') & (loans['disburse_time'] <= '2013-12-31')].groupby('country_name')['loan_amount'].sum()

country_name
Albania                                  786950.0
Armenia                                 4131300.0
Azerbaijan                              2161850.0
Belize                                    27825.0
Benin                                    366575.0
Bolivia                                 5476650.0
Botswana                                   8000.0
Brazil                                    15350.0
Burkina Faso                             321925.0
Burundi                                 1093950.0
Cambodia                                3598325.0
Cameroon                                 297775.0
Chile                                    407875.0
Colombia                                3066300.0
Congo                                    574925.0
Costa Rica                               921675.0
Cote D'Ivoire                             69425.0
Dominican Republic                      1020525.0
Ecuador                                 3440350.0
El Salvador                             4682350.0
Georgia                                 3593650.0
Ghana                                   1664400.0
Guam                                       3000.0
Guatemala                               1782775.0
Haiti                                    395700.0
Honduras                                1941050.0
India                                    950425.0
Indonesia                                833275.0
Iraq                                    2340300.0
Israel                                   328350.0
                                          ...
Nigeria                                   60800.0
Pakistan                                2796925.0
Palestine                               2169650.0
Panama                                    18000.0
Papua New Guinea                          50000.0
Paraguay                                6140000.0
Peru                                    7068200.0
Philippines                             9432425.0
Rwanda                                  1958575.0
Samoa                                    993950.0
Senegal                                 2363500.0
Sierra Leone                            1947275.0
Somalia                                   59350.0
South Africa                             172400.0
South Sudan                              220775.0
Suriname                                 198125.0
Tajikistan                              5099150.0
Tanzania                                2150900.0
Thailand                                  25775.0
The Democratic Republic of the Congo    1626725.0
Timor-Leste                              670650.0
Togo                                     614025.0
Turkey                                    12450.0
Uganda                                  3238250.0
Ukraine                                 1018300.0
United States                           5295850.0
Vietnam                                 1947525.0
Yemen                                    839875.0
Zambia                                   275100.0
Zimbabwe                                 675425.0
Name: loan_amount, Length: 74, dtype: float64

In [51]:
loans[(loans['disburse_time'] >= '2014-01-01') & (loans['disburse_time'] <= '2014-12-31')].groupby('country_name')['loan_amount'].sum()

country_name
Albania                                   902550.0
Armenia                                  3280025.0
Azerbaijan                               1662325.0
Belize                                    107625.0
Benin                                     468950.0
Bolivia                                  4997400.0
Brazil                                     66200.0
Burkina Faso                              512400.0
Burundi                                  1096725.0
Cambodia                                 4339625.0
Cameroon                                  119900.0
Chile                                      19250.0
China                                      24200.0
Colombia                                 4649125.0
Congo                                     587225.0
Costa Rica                                570525.0
Dominican Republic                        757625.0
Ecuador                                  4013675.0
Egypt                                      34750.0
El Salvador                              8412450.0
Georgia                                   835250.0
Ghana                                    1076975.0
Guatemala                                2328525.0
Haiti                                     614750.0
Honduras                                 2167125.0
India                                    2683050.0
Indonesia                                1266325.0
Iraq                                     2546825.0
Israel                                    256875.0
Jordan                                   1472125.0
                                           ...
Palestine                                2134575.0
Panama                                     30000.0
Paraguay                                 6765625.0
Peru                                     8753575.0
Philippines                             13959200.0
Rwanda                                   2307725.0
Saint Vincent and the Grenadines            2025.0
Samoa                                    1714900.0
Senegal                                  2341250.0
Sierra Leone                             1322400.0
Solomon Islands                             2025.0
Somalia                                    86025.0
South Africa                               90525.0
South Sudan                                23750.0
Suriname                                  291725.0
Tajikistan                               4549450.0
Tanzania                                 2565750.0
Thailand                                   54600.0
The Democratic Republic of the Congo     3860050.0
Timor-Leste                               636200.0
Togo                                      410750.0
Turkey                                     99225.0
Uganda                                   5746700.0
Ukraine                                   760650.0
United States                            5077550.0
Vanuatu                                     9250.0
Vietnam                                  3797225.0
Yemen                                    1401825.0
Zambia                                    250600.0
Zimbabwe                                 1311575.0
Name: loan_amount, Length: 78, dtype: float64

In [52]:
loans[(loans['disburse_time'] >= '2015-01-01') & (loans['disburse_time'] <= '2015-12-31')].groupby('country_name')['loan_amount'].sum()

country_name
Afghanistan                                 6000.0
Albania                                   844375.0
Armenia                                  3519825.0
Azerbaijan                                864200.0
Bolivia                                  6829250.0
Brazil                                     50950.0
Burkina Faso                              874975.0
Burundi                                   867950.0
Cambodia                                 5054475.0
Cameroon                                   46150.0
Chile                                      84925.0
China                                     155350.0
Colombia                                 4274650.0
Congo                                     199025.0
Costa Rica                                762800.0
Dominican Republic                        634075.0
Ecuador                                  3188150.0
Egypt                                     347600.0
El Salvador                              8223000.0
Georgia                                  1571375.0
Ghana                                    1498225.0
Guatemala                                3421625.0
Haiti                                     579800.0
Honduras                                 1505325.0
India                                    1691125.0
Indonesia                                1301300.0
Iraq                                       38725.0
Israel                                    175125.0
Jordan                                   1222875.0
Kenya                                   10229975.0
                                           ...
Palestine                                3238875.0
Panama                                    153050.0
Paraguay                                 8118950.0
Peru                                     8105000.0
Philippines                             16082900.0
Puerto Rico                                54300.0
Rwanda                                   4871525.0
Saint Vincent and the Grenadines           47200.0
Samoa                                    1380550.0
Senegal                                  1940150.0
Sierra Leone                              623125.0
Solomon Islands                            87500.0
Somalia                                    85850.0
South Africa                              254675.0
South Sudan                                47150.0
Suriname                                  210800.0
Tajikistan                               3734650.0
Tanzania                                 1783375.0
Thailand                                   43350.0
The Democratic Republic of the Congo     2999075.0
Timor-Leste                              1016500.0
Togo                                      381075.0
Turkey                                    228375.0
Uganda                                   4633475.0
Ukraine                                   328700.0
United States                            6593200.0
Vietnam                                  4611000.0
Yemen                                     224900.0
Zambia                                    436350.0
Zimbabwe                                  723625.0
Name: loan_amount, Length: 79, dtype: float64

In [53]:
loans[(loans['disburse_time'] >= '2016-01-01') & (loans['disburse_time'] <= '2016-12-31')].groupby('country_name')['loan_amount'].sum()

country_name
Afghanistan                                 8000.0
Albania                                   639025.0
Armenia                                  4357525.0
Azerbaijan                                339775.0
Belize                                     10525.0
Bolivia                                  5876250.0
Brazil                                    312450.0
Burkina Faso                             1072075.0
Burundi                                   508600.0
Cambodia                                 5421775.0
Cameroon                                  306525.0
China                                     125925.0
Colombia                                 3871250.0
Costa Rica                                483125.0
Dominican Republic                        460925.0
Ecuador                                  4898800.0
Egypt                                     507375.0
El Salvador                              6332100.0
Georgia                                   832475.0
Ghana                                    1483100.0
Guatemala                                3626725.0
Haiti                                     886225.0
Honduras                                 1483125.0
India                                    1567075.0
Indonesia                                1552200.0
Israel                                    168450.0
Jordan                                   1244350.0
Kenya                                    9566325.0
Kosovo                                    518750.0
Kyrgyzstan                               1493675.0
                                           ...
Nigeria                                   910725.0
Pakistan                                 4421425.0
Palestine                                5185100.0
Panama                                     60225.0
Paraguay                                 9819725.0
Peru                                     9407975.0
Philippines                             16217900.0
Puerto Rico                               155700.0
Rwanda                                   6393175.0
Samoa                                    2221300.0
Senegal                                  1390350.0
Sierra Leone                             1393325.0
Solomon Islands                           117225.0
Somalia                                    63200.0
South Africa                              190475.0
Suriname                                   48275.0
Tajikistan                               4085150.0
Tanzania                                 1793950.0
Thailand                                  192300.0
The Democratic Republic of the Congo     2579425.0
Timor-Leste                               544000.0
Togo                                      428950.0
Turkey                                    286225.0
Uganda                                   3350100.0
Ukraine                                   337650.0
United States                            6695750.0
Vietnam                                  4521525.0
Yemen                                      83100.0
Zambia                                    296775.0
Zimbabwe                                  788600.0
Name: loan_amount, Length: 74, dtype: float64

In [54]:
loans[(loans['disburse_time'] >= '2017-01-01') & (loans['disburse_time'] <= '2017-12-31')].groupby('country_name')['loan_amount'].sum()

country_name
Albania                                   721450.0
Armenia                                  2969225.0
Benin                                      50000.0
Bhutan                                     20000.0
Bolivia                                  4787800.0
Brazil                                    724875.0
Burkina Faso                              928500.0
Burundi                                    70300.0
Cambodia                                 7592200.0
Cameroon                                  730600.0
Canada                                     50000.0
China                                      72000.0
Colombia                                 3062625.0
Costa Rica                                557725.0
Cote D'Ivoire                              50000.0
Dominican Republic                        580825.0
Ecuador                                  5393025.0
Egypt                                     525300.0
El Salvador                              6411550.0
Georgia                                   481300.0
Ghana                                    1800525.0
Guatemala                                3769650.0
Haiti                                    1330775.0
Honduras                                 1335850.0
India                                    1594425.0
Indonesia                                 911750.0
Israel                                    203325.0
Jordan                                   1584275.0
Kenya                                   10181650.0
Kosovo                                    524100.0
                                           ...
Nigeria                                   594075.0
Pakistan                                 4486000.0
Palestine                                4418825.0
Panama                                     30000.0
Paraguay                                 9374775.0
Peru                                     9182275.0
Philippines                             17096900.0
Puerto Rico                               143000.0
Rwanda                                   6625125.0
Samoa                                    2105025.0
Senegal                                  2771975.0
Sierra Leone                             1323425.0
Solomon Islands                           608825.0
Somalia                                    14300.0
South Africa                               88350.0
South Sudan                               130000.0
Tajikistan                               5164675.0
Tanzania                                 1799225.0
Thailand                                  265350.0
The Democratic Republic of the Congo     3390025.0
Timor-Leste                               487950.0
Togo                                      751200.0
Turkey                                    221775.0
Uganda                                   3646250.0
Ukraine                                   333175.0
United States                            7037175.0
Vietnam                                  4367825.0
Yemen                                     140425.0
Zambia                                    447750.0
Zimbabwe                                 1237600.0
Name: loan_amount, Length: 74, dtype: float64

In [55]:
loans[(loans['disburse_time'] >= '2018-01-01') & (loans['disburse_time'] <= '2018-12-31')].groupby('country_name')['loan_amount'].sum()

country_name
Belize                                4200.0
Bolivia                               8725.0
Brazil                               22500.0
Cameroon                             52150.0
Colombia                              5000.0
Costa Rica                            1550.0
Dominican Republic                    9850.0
Ghana                                74675.0
Guatemala                             3500.0
Haiti                                32950.0
India                                20000.0
Indonesia                             3450.0
Kenya                               393350.0
Kyrgyzstan                            8000.0
Lao People's Democratic Republic      6075.0
Malawi                                2100.0
Mali                                 50000.0
Mexico                                 475.0
Moldova                              15675.0
Mozambique                           53850.0
Nicaragua                            13425.0
Nigeria                              13900.0
Pakistan                               150.0
Panama                               30000.0
Paraguay                                50.0
Peru                                 17700.0
Philippines                            300.0
Rwanda                               26800.0
Senegal                               3975.0
Sierra Leone                         31125.0
Tanzania                             14300.0
Thailand                             26500.0
Uganda                               21750.0
Uruguay                               8000.0
Zambia                               13975.0
Name: loan_amount, dtype: float64

In [56]:
# punto 7, riferimento punto 6
loans[(loans['disburse_time'] >= '2005-01-01') & (loans['disburse_time'] <= '2005-12-31')].groupby('country_name')['loan_amount'].sum()*100/loans[(loans['disburse_time'] > '2005-01-01') & (loans['disburse_time'] < '2005-12-31')].groupby('loan_amount')['loan_amount'].sum().sum()

country_name
Bulgaria      1.798736
Cambodia      1.579971
Ecuador       4.861449
Gaza          4.861449
Honduras     32.377248
Kenya        20.758386
Nicaragua     3.208556
Senegal       3.135634
Tanzania      2.236266
Uganda       25.182304
Name: loan_amount, dtype: float64

In [57]:
loans[(loans['disburse_time'] >= '2006-01-01') & (loans['disburse_time'] <= '2006-12-31')].groupby('country_name')['loan_amount'].sum()*100/loans[(loans['disburse_time'] > '2006-01-01') & (loans['disburse_time'] < '2006-12-31')].groupby('loan_amount')['loan_amount'].sum().sum()

country_name
Azerbaijan     0.873542
Bulgaria       5.969202
Cambodia       3.132058
Ecuador       11.148857
Ghana          1.666822
Honduras       7.042464
Kenya         15.811479
Mexico        14.167056
Moldova        1.562296
Mozambique     1.190854
Nicaragua      0.287448
Nigeria        3.415772
Samoa          0.507699
Senegal        3.708819
Tanzania       3.374708
Togo           5.536164
Uganda        20.604760
Name: loan_amount, dtype: float64

In [58]:
loans[(loans['disburse_time'] >= '2007-01-01') & (loans['disburse_time'] <= '2007-12-31')].groupby('country_name')['loan_amount'].sum()*100/loans[(loans['disburse_time'] > '2007-01-01') & (loans['disburse_time'] < '2007-12-31')].groupby('loan_amount')['loan_amount'].sum().sum()

country_name
Afghanistan                              1.268289
Azerbaijan                              12.271618
Bolivia                                  1.982037
Bulgaria                                 1.711109
Cambodia                                 7.232613
Cameroon                                 0.758794
Chad                                     0.130585
Cote D'Ivoire                            1.186327
Dominican Republic                       1.579222
Ecuador                                  6.144347
Ghana                                    3.569390
Guatemala                                0.792457
Haiti                                    0.170753
Honduras                                 1.520516
Indonesia                                0.816688
Iraq                                     0.827421
Kenya                                    7.880661
Lebanon                                  0.958819
Mexico                                  10.262911
Moldova                                  0.447373
Mozambique                               1.165024
Nepal                                    0.118551
Nicaragua                                1.083062
Nigeria                                  4.260208
Pakistan                                 0.679597
Paraguay                                 2.360783
Peru                                     3.574269
Samoa                                    6.029373
Senegal                                  0.434689
Sierra Leone                             0.770340
Tajikistan                               4.881424
Tanzania                                 2.027246
The Democratic Republic of the Congo     0.199049
Togo                                     5.723806
Uganda                                   1.187954
Ukraine                                  3.052089
Vietnam                                  0.940606
Name: loan_amount, dtype: float64

In [59]:
loans[(loans['disburse_time'] >= '2008-01-01') & (loans['disburse_time'] <= '2008-12-31')].groupby('country_name')['loan_amount'].sum()*100/loans[(loans['disburse_time'] > '2008-01-01') & (loans['disburse_time'] < '2008-12-31')].groupby('loan_amount')['loan_amount'].sum().sum()

country_name
Afghanistan                              0.920086
Azerbaijan                               3.542928
Benin                                    0.563692
Bolivia                                  4.689988
Bosnia and Herzegovina                   1.026845
Bulgaria                                 0.065376
Cambodia                                12.241091
Cameroon                                 0.305807
Cote D'Ivoire                            0.090384
Dominican Republic                       2.728776
Ecuador                                  0.764580
El Salvador                              0.137797
Ghana                                    3.305924
Guatemala                                1.294569
Haiti                                    0.040178
Honduras                                 0.269945
Indonesia                                0.689874
Iraq                                     0.159949
Kenya                                    1.070070
Lebanon                                  1.983237
Mali                                     0.834082
Mexico                                   2.808115
Moldova                                  0.054776
Mongolia                                 0.003174
Mozambique                               0.550300
Nepal                                    0.186353
Nicaragua                                4.575041
Nigeria                                  3.230901
Pakistan                                 3.249180
Palestine                                0.020819
Paraguay                                 3.869616
Peru                                    11.641029
Philippines                              0.232370
Rwanda                                   0.214915
Samoa                                    1.821511
Senegal                                  1.714688
Sierra Leone                             1.234144
South Sudan                              0.378418
Tajikistan                               6.400932
Tanzania                                 5.981320
The Democratic Republic of the Congo     0.118692
Togo                                     3.732454
Uganda                                   7.066940
Ukraine                                  1.279463
Vietnam                                  2.909670
Name: loan_amount, dtype: float64

In [60]:
loans[(loans['disburse_time'] >= '2009-01-01') & (loans['disburse_time'] <= '2009-12-31')].groupby('country_name')['loan_amount'].sum()*100/loans[(loans['disburse_time'] > '2009-01-01') & (loans['disburse_time'] < '2005-12-31')].groupby('loan_amount')['loan_amount'].sum().sum()

country_name
Afghanistan                             inf
Armenia                                 inf
Azerbaijan                              inf
Benin                                   inf
Bolivia                                 inf
Bosnia and Herzegovina                  inf
Cambodia                                inf
Cameroon                                inf
Chile                                   inf
Colombia                                inf
Costa Rica                              inf
Dominican Republic                      inf
Ecuador                                 inf
El Salvador                             inf
Ghana                                   inf
Guatemala                               inf
Haiti                                   inf
Honduras                                inf
Indonesia                               inf
Iraq                                    inf
Kenya                                   inf
Kyrgyzstan                              inf
Lebanon                                 inf
Liberia                                 inf
Mali                                    inf
Mexico                                  inf
Moldova                                 inf
Mongolia                                inf
Mozambique                              inf
Nepal                                   inf
Nicaragua                               inf
Nigeria                                 inf
Pakistan                                inf
Palestine                               inf
Paraguay                                inf
Peru                                    inf
Philippines                             inf
Rwanda                                  inf
Samoa                                   inf
Senegal                                 inf
Sierra Leone                            inf
South Sudan                             inf
Tajikistan                              inf
Tanzania                                inf
The Democratic Republic of the Congo    inf
Togo                                    inf
Uganda                                  inf
Ukraine                                 inf
United States                           inf
Vietnam                                 inf
Name: loan_amount, dtype: float64

In [61]:
loans[(loans['disburse_time'] >= '2010-01-01') & (loans['disburse_time'] <= '2010-12-31')].groupby('country_name')['loan_amount'].sum()*100/loans[(loans['disburse_time'] > '2010-01-01') & (loans['disburse_time'] < '2010-12-31')].groupby('loan_amount')['loan_amount'].sum().sum()

country_name
Afghanistan                             0.776432
Armenia                                 1.008700
Azerbaijan                              1.941631
Benin                                   0.467982
Bolivia                                 4.279265
Burundi                                 0.264588
Cambodia                                8.044756
Cameroon                                0.071703
Chile                                   0.388044
Colombia                                0.745180
Congo                                   0.126901
Costa Rica                              0.839728
Dominican Republic                      1.989077
Ecuador                                 4.561942
El Salvador                             1.499216
Ghana                                   1.166164
Guatemala                               0.887794
Haiti                                   0.052373
Honduras                                0.727194
Indonesia                               0.217349
Iraq                                    0.471772
Israel                                  0.047343
Jordan                                  0.052856
Kenya                                   4.582064
Kyrgyzstan                              1.801567
Lebanon                                 2.947953
Liberia                                 1.017658
Mali                                    1.326005
Mexico                                  2.809647
Mongolia                                3.149693
Mozambique                              0.254354
Nepal                                   0.091653
Nicaragua                               4.778877
Nigeria                                 1.046050
Pakistan                                1.690826
Palestine                               1.077198
Paraguay                                3.012248
Peru                                    9.795328
Philippines                             8.402788
Rwanda                                  1.895632
Samoa                                   0.428082
Senegal                                 1.807149
Sierra Leone                            1.390783
South Africa                            0.014196
South Sudan                             0.600810
Sri Lanka                               0.103092
Tajikistan                              2.751623
Tanzania                                1.254750
The Democratic Republic of the Congo    0.949642
Togo                                    1.705986
Uganda                                  5.718837
Ukraine                                 1.057179
United States                           1.066379
Vietnam                                 0.843966
Name: loan_amount, dtype: float64

In [62]:
loans[(loans['disburse_time'] >= '2011-01-01') & (loans['disburse_time'] <= '2011-12-31')].groupby('country_name')['loan_amount'].sum()*100/loans[(loans['disburse_time'] > '2011-01-01') & (loans['disburse_time'] < '2011-12-31')].groupby('loan_amount')['loan_amount'].sum().sum()

country_name
Afghanistan                             0.261713
Armenia                                 1.943242
Azerbaijan                              1.872588
Benin                                   0.885847
Bolivia                                 2.987104
Burkina Faso                            0.103671
Burundi                                 0.701487
Cambodia                                4.644930
Cameroon                                0.055492
Chile                                   0.653361
Colombia                                1.561522
Congo                                   0.245164
Costa Rica                              0.656591
Dominican Republic                      1.197794
Ecuador                                 4.296789
El Salvador                             2.276168
Georgia                                 0.560234
Ghana                                   0.792345
Guatemala                               0.999527
Haiti                                   0.103110
Honduras                                0.765814
Indonesia                               0.595227
Iraq                                    1.654009
Israel                                  0.222449
Jordan                                  1.016530
Kenya                                   6.183898
Kyrgyzstan                              1.873229
Lebanon                                 3.030878
Liberia                                 0.238678
Mali                                    0.882137
Mexico                                  3.544828
Mongolia                                3.114557
Mozambique                              0.270681
Nepal                                   0.066142
Nicaragua                               3.518750
Pakistan                                1.677071
Palestine                               1.811998
Paraguay                                3.656293
Peru                                    8.995957
Philippines                             7.236381
Rwanda                                  2.493493
Samoa                                   0.364396
Senegal                                 2.073391
Sierra Leone                            1.578018
South Africa                            0.117524
South Sudan                             0.477329
Tajikistan                              3.613800
Tanzania                                1.679473
The Democratic Republic of the Congo    1.161813
Togo                                    0.797177
Turkey                                  0.039290
Uganda                                  3.955748
Ukraine                                 1.023283
United States                           1.297754
Vietnam                                 1.175693
Yemen                                   0.008808
Zimbabwe                                0.988824
Name: loan_amount, dtype: float64

In [63]:
loans[(loans['disburse_time'] >= '2012-01-01') & (loans['disburse_time'] <= '2012-12-31')].groupby('country_name')['loan_amount'].sum()*100/loans[(loans['disburse_time'] > '2012-01-01') & (loans['disburse_time'] < '2012-12-31')].groupby('loan_amount')['loan_amount'].sum().sum()

country_name
Albania                                 0.344639
Armenia                                 1.710366
Azerbaijan                              1.411289
Benin                                   1.039509
Bolivia                                 3.213740
Burkina Faso                            0.232173
Burundi                                 0.614384
Cambodia                                3.680151
Cameroon                                0.222451
Chile                                   0.962966
Colombia                                2.225969
Congo                                   0.486062
Costa Rica                              0.758290
Dominican Republic                      0.735863
Ecuador                                 4.476889
El Salvador                             2.722483
Georgia                                 1.393244
Ghana                                   0.830910
Guam                                    0.004172
Guatemala                               0.956374
Haiti                                   0.320460
Honduras                                1.185250
India                                   0.350314
Indonesia                               0.723513
Iraq                                    1.737299
Israel                                  0.283409
Jordan                                  2.537459
Kenya                                   5.639379
Kosovo                                  0.321712
Kyrgyzstan                              1.385400
                                          ...
Mongolia                                3.043319
Mozambique                              0.334146
Nepal                                   0.035090
Nicaragua                               2.714138
Nigeria                                 0.019172
Pakistan                                1.630736
Palestine                               1.643378
Paraguay                                4.166922
Peru                                    8.201350
Philippines                             7.411100
Rwanda                                  2.276225
Samoa                                   0.731607
Senegal                                 1.765317
Sierra Leone                            1.377430
South Africa                            0.074874
South Sudan                             0.431738
Tajikistan                              4.049365
Tanzania                                1.581898
Thailand                                0.000876
The Democratic Republic of the Congo    1.640792
Timor-Leste                             0.106062
Togo                                    0.798574
Turkey                                  0.015688
Uganda                                  2.620218
Ukraine                                 0.810570
United States                           1.849703
Vietnam                                 1.046247
Yemen                                   0.596505
Zambia                                  0.173926
Zimbabwe                                0.155046
Name: loan_amount, Length: 64, dtype: float64

In [64]:
loans[(loans['disburse_time'] >= '2013-01-01') & (loans['disburse_time'] <= '2013-12-31')].groupby('country_name')['loan_amount'].sum()*100/loans[(loans['disburse_time'] > '2013-01-01') & (loans['disburse_time'] < '2013-12-31')].groupby('loan_amount')['loan_amount'].sum().sum()

country_name
Albania                                 0.597576
Armenia                                 3.137134
Azerbaijan                              1.641617
Belize                                  0.021129
Benin                                   0.278361
Bolivia                                 4.158735
Botswana                                0.006075
Brazil                                  0.011656
Burkina Faso                            0.244456
Burundi                                 0.830699
Cambodia                                2.732415
Cameroon                                0.226118
Chile                                   0.309723
Colombia                                2.328418
Congo                                   0.436574
Costa Rica                              0.699881
Cote D'Ivoire                           0.052718
Dominican Republic                      0.774943
Ecuador                                 2.612456
El Salvador                             3.555578
Georgia                                 2.728865
Ghana                                   1.263875
Guam                                    0.002278
Guatemala                               1.353764
Haiti                                   0.300478
Honduras                                1.473951
India                                   0.721712
Indonesia                               0.632754
Iraq                                    1.777124
Israel                                  0.249335
                                          ...
Nigeria                                 0.046169
Pakistan                                2.123866
Palestine                               1.647540
Panama                                  0.013668
Papua New Guinea                        0.037968
Paraguay                                4.662455
Peru                                    5.367291
Philippines                             7.162583
Rwanda                                  1.487259
Samoa                                   0.754763
Senegal                                 1.794741
Sierra Leone                            1.478678
Somalia                                 0.045068
South Africa                            0.130913
South Sudan                             0.167647
Suriname                                0.150448
Tajikistan                              3.872078
Tanzania                                1.633302
Thailand                                0.019572
The Democratic Republic of the Congo    1.235266
Timor-Leste                             0.509263
Togo                                    0.466264
Turkey                                  0.009454
Uganda                                  2.458989
Ukraine                                 0.773254
United States                           4.021443
Vietnam                                 1.478868
Yemen                                   0.637765
Zambia                                  0.208899
Zimbabwe                                0.512889
Name: loan_amount, Length: 74, dtype: float64

In [65]:
loans[(loans['disburse_time'] >= '2014-01-01') & (loans['disburse_time'] <= '2014-12-31')].groupby('country_name')['loan_amount'].sum()*100/loans[(loans['disburse_time'] > '2014-01-01') & (loans['disburse_time'] < '2014-12-31')].groupby('loan_amount')['loan_amount'].sum().sum()

country_name
Albania                                 0.593405
Armenia                                 2.156537
Azerbaijan                              1.092938
Belize                                  0.070761
Benin                                   0.308323
Bolivia                                 3.285669
Brazil                                  0.043525
Burkina Faso                            0.336891
Burundi                                 0.721070
Cambodia                                2.853198
Cameroon                                0.078831
Chile                                   0.012656
China                                   0.015911
Colombia                                3.056687
Congo                                   0.386086
Costa Rica                              0.375106
Dominican Republic                      0.498120
Ecuador                                 2.638894
Egypt                                   0.022847
El Salvador                             5.530981
Georgia                                 0.549157
Ghana                                   0.708085
Guatemala                               1.530949
Haiti                                   0.404183
Honduras                                1.424832
India                                   1.764040
Indonesia                               0.832578
Iraq                                    1.674476
Israel                                  0.168889
Jordan                                  0.967886
                                          ...
Palestine                               1.403431
Panama                                  0.019724
Paraguay                                4.448234
Peru                                    5.755263
Philippines                             9.177835
Rwanda                                  1.517273
Saint Vincent and the Grenadines        0.001331
Samoa                                   1.127505
Senegal                                 1.539315
Sierra Leone                            0.869446
Solomon Islands                         0.001331
Somalia                                 0.056559
South Africa                            0.059518
South Sudan                             0.015615
Suriname                                0.191802
Tajikistan                              2.991153
Tanzania                                1.686918
Thailand                                0.035898
The Democratic Republic of the Congo    2.537889
Timor-Leste                             0.418286
Togo                                    0.270058
Turkey                                  0.065238
Uganda                                  3.778316
Ukraine                                 0.500109
United States                           3.338366
Vanuatu                                 0.006082
Vietnam                                 2.496583
Yemen                                   0.921666
Zambia                                  0.164763
Zimbabwe                                0.862329
Name: loan_amount, Length: 78, dtype: float64

In [66]:
loans[(loans['disburse_time'] >= '2015-01-01') & (loans['disburse_time'] <= '2015-12-31')].groupby('country_name')['loan_amount'].sum()*100/loans[(loans['disburse_time'] > '2015-01-01') & (loans['disburse_time'] < '2015-12-31')].groupby('loan_amount')['loan_amount'].sum().sum()

country_name
Afghanistan                              0.003855
Albania                                  0.542467
Armenia                                  2.261303
Azerbaijan                               0.555203
Bolivia                                  4.387436
Brazil                                   0.032733
Burkina Faso                             0.562126
Burundi                                  0.557612
Cambodia                                 3.247236
Cameroon                                 0.029649
Chile                                    0.054560
China                                    0.099804
Colombia                                 2.746239
Congo                                    0.127863
Costa Rica                               0.490059
Dominican Republic                       0.407360
Ecuador                                  2.048220
Egypt                                    0.223315
El Salvador                              5.282847
Georgia                                  1.009526
Ghana                                    0.962531
Guatemala                                2.198215
Haiti                                    0.372491
Honduras                                 0.967093
India                                    1.086459
Indonesia                                0.836017
Iraq                                     0.024879
Israel                                   0.112509
Jordan                                   0.785633
Kenya                                    6.572224
                                          ...
Palestine                                2.080808
Panama                                   0.098327
Paraguay                                 5.216001
Peru                                     5.207038
Philippines                             10.332422
Puerto Rico                              0.034885
Rwanda                                   3.129700
Saint Vincent and the Grenadines         0.030324
Samoa                                    0.886931
Senegal                                  1.246445
Sierra Leone                             0.400325
Solomon Islands                          0.056214
Somalia                                  0.055154
South Africa                             0.163615
South Sudan                              0.030291
Suriname                                 0.135428
Tajikistan                               2.399317
Tanzania                                 1.145725
Thailand                                 0.027850
The Democratic Republic of the Congo     1.926749
Timor-Leste                              0.653048
Togo                                     0.244821
Turkey                                   0.146719
Uganda                                   2.976765
Ukraine                                  0.211173
United States                            4.235786
Vietnam                                  2.962326
Yemen                                    0.144486
Zambia                                   0.280332
Zimbabwe                                 0.464891
Name: loan_amount, Length: 79, dtype: float64

In [67]:
loans[(loans['disburse_time'] >= '2016-01-01') & (loans['disburse_time'] <= '2016-12-31')].groupby('country_name')['loan_amount'].sum()*100/loans[(loans['disburse_time'] > '2016-01-01') & (loans['disburse_time'] < '2016-12-31')].groupby('loan_amount')['loan_amount'].sum().sum()

country_name
Afghanistan                              0.004982
Albania                                  0.397971
Armenia                                  2.713776
Azerbaijan                               0.211605
Belize                                   0.006555
Bolivia                                  3.659606
Brazil                                   0.194587
Burkina Faso                             0.667666
Burundi                                  0.316745
Cambodia                                 3.376568
Cameroon                                 0.190897
China                                    0.078423
Colombia                                 2.410934
Costa Rica                               0.300880
Dominican Republic                       0.287054
Ecuador                                  3.050870
Egypt                                    0.315983
El Salvador                              3.943500
Georgia                                  0.518448
Ghana                                    0.923644
Guatemala                                2.258649
Haiti                                    0.551922
Honduras                                 0.923659
India                                    0.975942
Indonesia                                0.966678
Israel                                   0.104907
Jordan                                   0.774955
Kenya                                    5.957707
Kosovo                                   0.323067
Kyrgyzstan                               0.930230
                                          ...
Nigeria                                  0.567181
Pakistan                                 2.753571
Palestine                                3.229172
Panama                                   0.037507
Paraguay                                 6.115520
Peru                                     5.859090
Philippines                             10.100169
Puerto Rico                              0.096967
Rwanda                                   3.981536
Samoa                                    1.383379
Senegal                                  0.865881
Sierra Leone                             0.867734
Solomon Islands                          0.073005
Somalia                                  0.039360
South Africa                             0.118624
Suriname                                 0.030065
Tajikistan                               2.544146
Tanzania                                 1.117235
Thailand                                 0.119760
The Democratic Republic of the Congo     1.606412
Timor-Leste                              0.338792
Togo                                     0.267141
Turkey                                   0.178255
Uganda                                   2.086372
Ukraine                                  0.210281
United States                            4.169973
Vietnam                                  2.815911
Yemen                                    0.051753
Zambia                                   0.184825
Zimbabwe                                 0.491124
Name: loan_amount, Length: 74, dtype: float64

In [68]:
loans[(loans['disburse_time'] >= '2017-01-01') & (loans['disburse_time'] <= '2017-12-31')].groupby('country_name')['loan_amount'].sum()*100/loans[(loans['disburse_time'] > '2017-01-01') & (loans['disburse_time'] < '2017-12-31')].groupby('loan_amount')['loan_amount'].sum().sum()

country_name
Albania                                  0.434892
Armenia                                  1.789856
Benin                                    0.030140
Bhutan                                   0.012056
Bolivia                                  2.886098
Brazil                                   0.436956
Burkina Faso                             0.559702
Burundi                                  0.042377
Cambodia                                 4.576597
Cameroon                                 0.440407
Canada                                   0.030140
China                                    0.043402
Colombia                                 1.846158
Costa Rica                               0.336198
Cote D'Ivoire                            0.030140
Dominican Republic                       0.350123
Ecuador                                  3.250929
Egypt                                    0.316652
El Salvador                              3.864898
Georgia                                  0.290129
Ghana                                    1.085361
Guatemala                                2.272354
Haiti                                    0.802194
Honduras                                 0.805254
India                                    0.961123
Indonesia                                0.549605
Israel                                   0.122565
Jordan                                   0.955005
Kenya                                    6.137524
Kosovo                                   0.315929
                                          ...
Nigeria                                  0.358110
Pakistan                                 2.704172
Palestine                                2.663679
Panama                                   0.018084
Paraguay                                 5.651137
Peru                                     5.535098
Philippines                             10.306053
Puerto Rico                              0.086201
Rwanda                                   3.993642
Samoa                                    1.268914
Senegal                                  1.670953
Sierra Leone                             0.797764
Solomon Islands                          0.367001
Somalia                                  0.008620
South Africa                             0.053258
South Sudan                              0.078364
Tajikistan                               3.113279
Tanzania                                 1.084577
Thailand                                 0.159954
The Democratic Republic of the Congo     2.043515
Timor-Leste                              0.294137
Togo                                     0.452825
Turkey                                   0.133687
Uganda                                   2.197968
Ukraine                                  0.200839
United States                            4.242026
Vietnam                                  2.632936
Yemen                                    0.084649
Zambia                                   0.269905
Zimbabwe                                 0.746028
Name: loan_amount, Length: 74, dtype: float64

In [69]:
loans[(loans['disburse_time'] >= '2018-01-01') & (loans['disburse_time'] <= '2018-12-31')].groupby('country_name')['loan_amount'].sum()*100/loans[(loans['disburse_time'] > '2018-01-01') & (loans['disburse_time'] < '2018-12-31')].groupby('loan_amount')['loan_amount'].sum().sum()

country_name
Belize                               0.424232
Bolivia                              0.881291
Brazil                               2.272670
Cameroon                             5.267544
Colombia                             0.505038
Costa Rica                           0.156562
Dominican Republic                   0.994924
Ghana                                7.542739
Guatemala                            0.353526
Haiti                                3.328199
India                                2.020151
Indonesia                            0.348476
Kenya                               39.731320
Kyrgyzstan                           0.808060
Lao People's Democratic Republic     0.613621
Malawi                               0.212116
Mali                                 5.050378
Mexico                               0.047979
Moldova                              1.583293
Mozambique                           5.439257
Nicaragua                            1.356026
Nigeria                              1.404005
Pakistan                             0.015151
Panama                               3.030227
Paraguay                             0.005050
Peru                                 1.787834
Philippines                          0.030302
Rwanda                               2.707002
Senegal                              0.401505
Sierra Leone                         3.143860
Tanzania                             1.444408
Thailand                             2.676700
Uganda                               2.196914
Uruguay                              0.808060
Zambia                               1.411581
Name: loan_amount, dtype: float64

In [70]:
### punto 8
#importare loans, implementare punto 1
world_cup = pd.merge(loans_lenders, loans['funded_amount'], left_on =loans_lenders['loan_id'], right_on = loans['loan_id'], how = 'right')
world_cup = world_cup.drop('key_0', axis = 1)
div = (world_cup.groupby('loan_id')['level_1'].max() +1).reset_index()
world_cup = pd.merge(div, world_cup, left_on = div['loan_id'], right_on = world_cup['loan_id'], how = 'right')
world_cup = world_cup.drop('key_0', axis = 1)
world_cup = world_cup.drop('loan_id_x', axis = 1)
world_cup['funded_amount'] = world_cup['funded_amount']/world_cup['level_1_x']
world_cup.groupby(0)['level_1_x'].sum()

0
 000               2254.0
 00000             1524.0
 0002              1011.0
 00mike00            38.0
 0101craign0101    4336.0
 0132575            147.0
 0154884             85.0
 0161130             73.0
 0169713             74.0
 0185429             66.0
 0197462             19.0
 0206338             53.0
 0219854             84.0
 0221581             29.0
 0239059             57.0
 0245597              6.0
 0256321             79.0
 0265562             38.0
 0279282             10.0
 0288537             11.0
 0295920             43.0
 0307987            124.0
 0312857             40.0
 0321212             57.0
 0326lsw           1430.0
 0332772             51.0
 0346439             36.0
 0353400             23.0
 0367630             36.0
 0376099             22.0
                    ...
zuzana5790           34.0
zuzana7522           13.0
zuzana8241           19.0
zuzana8342           46.0
zuzana9270           10.0
zuzana9580           12.0
zuzana9848           10.0
zuzanna5419          23.0
zuzanna6834          11.0
zuzanna7983         152.0
zuzanna8834          40.0
zuzanna9818          84.0
zuzika7697           11.0
zvezdana4014         10.0
zvezdomir5847        24.0
zvi                 147.0
zvi1263              23.0
zvika5974             5.0
zvonimir7460          7.0
zx147                77.0
zyra9641             48.0
zyrah8525           121.0
zyrorl               57.0
zzaba                 8.0
zzaman              327.0
zzanita              10.0
zzcyna7269           28.0
zzinnia              25.0
zzmcfate           1005.0
zzrvmf8538           65.0
Name: level_1_x, Length: 1639026, dtype: float64

In [5]:
### punto 9
avarage= loans.groupby('funded_amount')['funded_amount'].sum().sum()/loans.groupby('country_name')['country_name'].count().count()
pd.DataFrame(avarage-loans.groupby('country_name')['loan_amount'].sum())

                                       loan_amount
country_name
Afghanistan                           9.804812e+06
Albania                               7.465412e+06
Armenia                              -1.117771e+07
Azerbaijan                           -3.011863e+06
Belize                                1.162259e+07
Benin                                 7.906937e+06
Bhutan                                1.175276e+07
Bolivia                              -3.245396e+07
Bosnia and Herzegovina                1.129551e+07
Botswana                              1.176476e+07
Brazil                                1.058044e+07
Bulgaria                              1.139746e+07
Burkina Faso                          7.687562e+06
Burundi                               6.539312e+06
Cambodia                             -3.984076e+07
Cameroon                              9.521962e+06
Canada                                1.172276e+07
Chad                                  1.175269e+07
Chile                                 9.176837e+06
China                                 1.139224e+07
Colombia                             -1.184121e+07
Congo                                 9.507412e+06
Costa Rica                            6.128412e+06
Cote D'Ivoire                         1.142746e+07
Dominican Republic                    2.464762e+06
Ecuador                              -2.374624e+07
Egypt                                 1.035774e+07
El Salvador                          -2.991879e+07
Gaza                                  1.176776e+07
Georgia                               2.202337e+06
...                                            ...
Philippines                          -8.621184e+07
Puerto Rico                           1.133086e+07
Rwanda                               -1.738456e+07
Saint Vincent and the Grenadines      1.172354e+07
Samoa                                -4.394128e+05
Senegal                              -6.179413e+06
Sierra Leone                         -1.947378e+05
Solomon Islands                       1.095719e+07
Somalia                               1.146404e+07
South Africa                          1.076624e+07
South Sudan                           9.354462e+06
Sri Lanka                             1.169796e+07
Suriname                              1.102384e+07
Tajikistan                           -2.784936e+07
Tanzania                             -6.947538e+06
Thailand                              1.116384e+07
The Democratic Republic of the Congo -7.040663e+06
Timor-Leste                           8.290362e+06
Togo                                  1.749937e+06
Turkey                                1.086884e+07
Uganda                               -2.661374e+07
Ukraine                               4.680962e+06
United States                        -3.457924e+07
Uruguay                               1.176476e+07
Vanuatu                               1.176351e+07
Vietnam                              -1.290834e+07
Virgin Islands                        1.176276e+07
Yemen                                 8.328762e+06
Zambia                                9.793787e+06
Zimbabwe                              5.920887e+06

[96 rows x 1 columns]

In [6]:
## punto 10
country_stats = pd.read_csv('C:\\Users\\Enrico\\Documents\\UNIMIB\\Foundations of Computer Science\\Project_comp_science\\country_stats.csv')
c_s= country_stats[['country_name', 'population', 'population_below_poverty_line']]
# prendere avarage dal punto precedente
loans2 = pd.DataFrame(avarage-loans.groupby('country_name')['loan_amount'].sum())
loans2['country_name2']= loans2.index
merge10 = pd.merge(c_s,loans2, left_on = 'country_name', right_on = 'country_name2', how='inner')
merge10 = merge10.drop('country_name2', axis=1)
merge10['ratio1']=merge10['loan_amount']/merge10['population']
#per loan amount si intende la differenza e non l'originale loan amount
# per index si intende il nome del paese
merge10.groupby('country_name')['ratio1'].max().idxmax()
# oppure
# merge10[['country_name', 'ratio1']].sort_values('ratio1',ascending=False)

'Belize'

In [8]:
## punto 11
#implementare il punto 10
merge10['not_below'] = merge10['population'] *(1 - merge10['population_below_poverty_line']/100)
merge10['ratio2'] = merge10['loan_amount']/merge10['not_below']
merge10.groupby('country_name')['ratio2'].max().idxmax()
#oppure
#merge10.groupby('country_name')['ratio2'].max()

'Suriname'

In [75]:
## punto 12
#implementare punto due
loans3 = loans[['loan_id','disburse_time', 'planned_expiration_time', 'funded_amount','duration']]
loans3 = loans3[loans3.loc[:,'duration'] >= 0]

loans3['disburse_yday_rev'] = 365 - loans3['disburse_time'].dt.dayofyear
loans3['expiration_yday'] = loans3['planned_expiration_time'].dt.dayofyear

loans3['2011a'] = loans3.loc[loans3['disburse_time'].dt.year == 2011, 'disburse_yday_rev']/loans3['duration']
loans3['2012a'] = loans3.loc[loans3['disburse_time'].dt.year == 2012, 'disburse_yday_rev']/loans3['duration']
loans3['2013a'] = loans3.loc[loans3['disburse_time'].dt.year == 2013, 'disburse_yday_rev']/loans3['duration']
loans3['2014a'] = loans3.loc[loans3['disburse_time'].dt.year == 2014, 'disburse_yday_rev']/loans3['duration']
loans3['2015a'] = loans3.loc[loans3['disburse_time'].dt.year == 2015, 'disburse_yday_rev']/loans3['duration']
loans3['2016a'] = loans3.loc[loans3['disburse_time'].dt.year == 2016, 'disburse_yday_rev']/loans3['duration']
loans3['2017a'] = loans3.loc[loans3['disburse_time'].dt.year == 2017, 'disburse_yday_rev']/loans3['duration']
loans3['2018a'] = loans3.loc[loans3['disburse_time'].dt.year == 2018, 'disburse_yday_rev']/loans3['duration']

loans3.loc[loans3['2012a'] > 1, '2012a'] = 1
loans3.loc[loans3['2013a'] > 1, '2013a'] = 1
loans3.loc[loans3['2014a'] > 1, '2014a'] = 1
loans3.loc[loans3['2015a'] > 1, '2015a'] = 1
loans3.loc[loans3['2016a'] > 1, '2016a'] = 1
loans3.loc[loans3['2017a'] > 1, '2017a'] = 1
loans3.loc[loans3['2018a'] > 1, '2018a'] = 1

loans3.loc[loans3['2011a'].isna(), '2011a'] = 0
loans3.loc[loans3['2012a'].isna(), '2012a'] = 0
loans3.loc[loans3['2013a'].isna(), '2013a'] = 0
loans3.loc[loans3['2014a'].isna(), '2014a'] = 0
loans3.loc[loans3['2015a'].isna(), '2015a'] = 0
loans3.loc[loans3['2016a'].isna(), '2016a'] = 0
loans3.loc[loans3['2017a'].isna(), '2017a'] = 0
loans3.loc[loans3['2018a'].isna(), '2018a'] = 0

loans3['2012b'] = loans3.loc[loans3['planned_expiration_time'].dt.year == 2012, 'expiration_yday']/loans3['duration']
loans3['2013b'] = loans3.loc[loans3['planned_expiration_time'].dt.year == 2013, 'expiration_yday']/loans3['duration']
loans3['2014b'] = loans3.loc[loans3['planned_expiration_time'].dt.year == 2014, 'expiration_yday']/loans3['duration']
loans3['2015b'] = loans3.loc[loans3['planned_expiration_time'].dt.year == 2015, 'expiration_yday']/loans3['duration']
loans3['2016b'] = loans3.loc[loans3['planned_expiration_time'].dt.year == 2016, 'expiration_yday']/loans3['duration']
loans3['2017b'] = loans3.loc[loans3['planned_expiration_time'].dt.year == 2017, 'expiration_yday']/loans3['duration']
loans3['2018b'] = loans3.loc[loans3['planned_expiration_time'].dt.year == 2018, 'expiration_yday']/loans3['duration']

loans3.loc[loans3['2012b'] > 1, '2012b'] = 1
loans3.loc[loans3['2013b'] > 1, '2013b'] = 1
loans3.loc[loans3['2014b'] > 1, '2014b'] = 1
loans3.loc[loans3['2015b'] > 1, '2015b'] = 1
loans3.loc[loans3['2016b'] > 1, '2016b'] = 1
loans3.loc[loans3['2017b'] > 1, '2017b'] = 1
loans3.loc[loans3['2018b'] > 1, '2018b'] = 1

loans3.loc[loans3['2012b'].isna(), '2012b'] = 0
loans3.loc[loans3['2013b'].isna(), '2013b'] = 0
loans3.loc[loans3['2014b'].isna(), '2014b'] = 0
loans3.loc[loans3['2015b'].isna(), '2015b'] = 0
loans3.loc[loans3['2016b'].isna(), '2016b'] = 0
loans3.loc[loans3['2017b'].isna(), '2017b'] = 0
loans3.loc[loans3['2018b'].isna(), '2018b'] = 0

loans3['2011'] = loans3['2011a']
loans3['2012'] = loans3['2012a'] + loans3['2012b']
loans3['2013'] = loans3['2013a'] + loans3['2013b']
loans3['2014'] = loans3['2014a'] + loans3['2014b']
loans3['2015'] = loans3['2015a'] + loans3['2015b']
loans3['2016'] = loans3['2016a'] + loans3['2016b']
loans3['2017'] = loans3['2017a'] + loans3['2017b']
loans3['2018'] = loans3['2018a'] + loans3['2018b']

loans3.loc[loans3['2012'] > 1, '2012'] = 1
loans3.loc[loans3['2013'] > 1, '2013'] = 1
loans3.loc[loans3['2014'] > 1, '2014'] = 1
loans3.loc[loans3['2015'] > 1, '2015'] = 1
loans3.loc[loans3['2016'] > 1, '2016'] = 1
loans3.loc[loans3['2017'] > 1, '2017'] = 1
loans3.loc[loans3['2018'] > 1, '2018'] = 1

loans3['1-sum'] = 1 - loans3['2011'] - loans3['2012'] - loans3['2013'] - loans3['2014'] - loans3['2015'] - loans3['2016'] - loans3['2017'] - loans3['2018']

loans3.loc[loans3['duration'] > 366, ['2013','2014','2015']] = loans3['1-sum']/3
loans3.loc[loans3['duration'] > 1640, ['2012','2013','2014','2015']] = loans3['1-sum']/4

loans3['2011'] = loans3['2011'] * loans3['funded_amount']
loans3['2012'] = loans3['2012'] * loans3['funded_amount']
loans3['2013'] = loans3['2013'] * loans3['funded_amount']
loans3['2014'] = loans3['2014'] * loans3['funded_amount']
loans3['2015'] = loans3['2015'] * loans3['funded_amount']
loans3['2016'] = loans3['2016'] * loans3['funded_amount']
loans3['2017'] = loans3['2017'] * loans3['funded_amount']
loans3['2018'] = loans3['2018'] * loans3['funded_amount']

In [76]:
#risultatati punto 12
loans3.groupby('2011')['2011'].sum().sum()

621070.37066729

In [77]:
loans3.groupby('2012')['2012'].sum().sum()

108234217.87494674

In [78]:
loans3.groupby('2013')['2013'].sum().sum()

120288712.29211609

In [79]:
loans3.groupby('2014')['2014'].sum().sum()

145587654.9756561

In [80]:
loans3.groupby('2015')['2015'].sum().sum()

148022499.0126555

In [81]:
loans3.groupby('2016')['2016'].sum().sum()

144475689.49001497

In [82]:
loans3.groupby('2017')['2017'].sum().sum()

156325278.27001575

In [83]:
loans3.groupby('2018')['2018'].sum().sum()

3438894.4986080835